include "~/.config/nano/apacheconf.config/nanorc"
include "~/.config/nano/arduino.config/nanorc"
include "~/.config/nano/asciidoc.config/nanorc"
include "~/.config/nano/asm.config/nanorc"
include "~/.config/nano/awk.config/nanorc"
include "~/.config/nano/c.config/nanorc"
include "~/.config/nano/clojure.config/nanorc"
include "~/.config/nano/cmake.config/nanorc"
include "~/.config/nano/coffeescript.config/nanorc"
include "~/.config/nano/colortest.config/nanorc"
include "~/.config/nano/conf.config/nanorc"
include "~/.config/nano/csharp.config/nanorc"
include "~/.config/nano/css.config/nanorc"
include "~/.config/nano/cython.config/nanorc"
include "~/.config/nano/dot.config/nanorc"
include "~/.config/nano/dotenv.config/nanorc"
include "~/.config/nano/email.config/nanorc"
include "~/.config/nano/Dockerfile.config/nanorc"
include "~/.config/nano/fish.config/nanorc"
include "~/.config/nano/fortran.config/nanorc"
include "~/.config/nano/gentoo.config/nanorc"
include "~/.config/nano/git.config/nanorc"
include "~/.config/nano/gitcommit.config/nanorc"
include "~/.config/nano/glsl.config/nanorc"
include "~/.config/nano/go.config/nanorc"
include "~/.config/nano/groff.config/nanorc"
include "~/.config/nano/haml.config/nanorc"
include "~/.config/nano/haskell.config/nanorc"
include "~/.config/nano/html.config/nanorc"
include "~/.config/nano/html.j2.config/nanorc"
include "~/.config/nano/ical.config/nanorc"
include "~/.config/nano/ini.config/nanorc"
include "~/.config/nano/inputrc.config/nanorc"
include "~/.config/nano/java.config/nanorc"
include "~/.config/nano/javascript.config/nanorc"
include "~/.config/nano/js.config/nanorc"
include "~/.config/nano/json.config/nanorc"
include "~/.config/nano/keymap.config/nanorc"
include "~/.config/nano/kickstart.config/nanorc"
include "~/.config/nano/ledger.config/nanorc"
include "~/.config/nano/lisp.config/nanorc"
include "~/.config/nano/lua.config/nanorc"
include "~/.config/nano/makefile.config/nanorc"
include "~/.config/nano/man.config/nanorc"
include "~/.config/nano/markdown.config/nanorc"
include "~/.config/nano/mpdconf.config/nanorc"
include "~/.config/nano/mutt.config/nanorc"
include "~/.config/nano/nanorc.config/nanorc"
include "~/.config/nano/nginx.config/nanorc"
include "~/.config/nano/ocaml.config/nanorc"
include "~/.config/nano/patch.config/nanorc"
include "~/.config/nano/peg.config/nanorc"
include "~/.config/nano/perl.config/nanorc"
include "~/.config/nano/perl6.config/nanorc"
include "~/.config/nano/php.config/nanorc"
include "~/.config/nano/pkg-config.config/nanorc"
include "~/.config/nano/pkgbuild.config/nanorc"
include "~/.config/nano/po.config/nanorc"
include "~/.config/nano/pov.config/nanorc"
include "~/.config/nano/privoxy.config/nanorc"
include "~/.config/nano/puppet.config/nanorc"
include "~/.config/nano/python.config/nanorc"
include "~/.config/nano/reST.config/nanorc"
include "~/.config/nano/rpmspec.config/nanorc"
include "~/.config/nano/ruby.config/nanorc"
include "~/.config/nano/rust.config/nanorc"
include "~/.config/nano/scala.config/nanorc"
include "~/.config/nano/sed.config/nanorc"
include "~/.config/nano/sh.config/nanorc"
include "~/.config/nano/sls.config/nanorc"
include "~/.config/nano/sql.config/nanorc"
include "~/.config/nano/svn.config/nanorc"
include "~/.config/nano/swift.config/nanorc"
include "~/.config/nano/systemd.config/nanorc"
include "~/.config/nano/tcl.config/nanorc"
include "~/.config/nano/tex.config/nanorc"
include "~/.config/nano/vala.config/nanorc"
include "~/.config/nano/verilog.config/nanorc"
include "~/.config/nano/vi.config/nanorc"
include "~/.config/nano/xml.config/nanorc"
include "~/.config/nano/xresources.config/nanorc"
include "~/.config/nano/yaml.config/nanorc"
include "~/.config/nano/yum.config/nanorc"
include "~/.config/nano/zsh.config/nanorc"
